<%- layout('layouts/main.ejs') %>

<h1 class="mt-4">Profile</h1>

<div class="card card-body">
    <h3><%=user.email %></h3>
    <p>
        <%= user.password %>
    </p>
    <p>
        <%= user.id %>
    </p>
</div>